.editorContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--background-tertiary);
}

.editorContainer :global(.monaco-editor),
.editorContainer :global(.monaco-editor .monaco-editor-background),
.editorContainer :global(.monaco-editor .margin) {
  background: var(--background-tertiary) !important;
}